<launch>
    <rosparam file="$(find arm_control)/config/actuators.yaml" command="load" ns="robot_hw_example/"/>
    <rosparam file="$(find arm_control)/config/joints.yaml" command="load" ns="robot_hw_example/"/>
    <rosparam file="$(find arm_control)/config/transmissions.yaml" command="load" ns="robot_hw_example/"/>
    <rosparam file="$(find arm_control)/config/controllers.yaml" command="load"/>

    <node name="robot_hw_example" pkg="arm_control" type="robot_hw_example" output="screen"/>

    <node
        name="controller_spawner"
        pkg="controller_manager"
        type="spawner"
        respawn="false"
        output="screen"
        args="joint_state_controller
            joint1_controller
            joint2_controller
            joint3_controller" />
</launch>